<ul class="gallery">
    <li class="gallery--item">
        <a class="gallery--item-container" href="assets/img/galleries/services/buildings/buildings-01.jpg" data-lightbox="networking-gallery">
            <img class="gallery--item-image" src="assets/img/galleries/services/buildings/thumbnails/buildings-01.jpg" role="presentation" alt="">
        </a>
    </li>
    <li class="gallery--item">
        <a class="gallery--item-container" href="assets/img/galleries/services/buildings/buildings-02.jpg" data-lightbox="networking-gallery">
            <img class="gallery--item-image" src="assets/img/galleries/services/buildings/thumbnails/buildings-02.jpg" role="presentation" alt="">
        </a>
    </li>
    <li class="gallery--item">
        <a class="gallery--item-container" href="assets/img/galleries/services/buildings/buildings-03.jpg" data-lightbox="networking-gallery">
            <img class="gallery--item-image" src="assets/img/galleries/services/buildings/thumbnails/buildings-03.jpg" role="presentation" alt="">
        </a>
    </li>
    <li class="gallery--item">
        <a class="gallery--item-container" href="assets/img/galleries/services/buildings/buildings-04.jpg" data-lightbox="networking-gallery">
            <img class="gallery--item-image" src="assets/img/galleries/services/buildings/thumbnails/buildings-04.jpg" role="presentation" alt="">
        </a>
    </li>
    <li class="gallery--item">
        <a class="gallery--item-container" href="assets/img/galleries/services/buildings/buildings-05.jpg" data-lightbox="networking-gallery">
            <img class="gallery--item-image" src="assets/img/galleries/services/buildings/thumbnails/buildings-05.jpg" role="presentation" alt="">
        </a>
    </li>
    <li class="gallery--item">
        <a class="gallery--item-container" href="assets/img/galleries/services/buildings/buildings-06.jpg" data-lightbox="networking-gallery">
            <img class="gallery--item-image" src="assets/img/galleries/services/buildings/thumbnails/buildings-06.jpg" role="presentation" alt="">
        </a>
    </li>
</ul>
<h1 class="section-heading">
    Soluciones llave en mano de redes fijas e inal&aacute;mbricas.
</h1>
<p class="text-description">
    Realizamos asesoramiento integral para la construcci&oacute;n de redes. Gestionamos los permisos necesarios previos
    a la ejecuci&oacute;n, puesta en marcha y certificaci&oacute;n final de la obra.
</p>
<p class="text-description">
    Nuestro personal, calificado en las &uacute;ltimas tecnolog&iacute;as y nuestro equipamiento de alta calidad, garantizan
    soluciones customizadas, &oacute;ptimas y confiables.
</p>
<div class="grid">
    <div class="grid--column">
        <h3 class="text-description-title">Redes inal&aacute;mbricas - Trabajos en cota cero y altura.</h3>
        <ul class="description-list-primary">
            <li class="description-list-primary--item">Propuesta preliminar, factibilidad y preingenier&iacute;a de sitios de telefon&iacute;a m&oacute;vil</li>
            <li class="description-list-primary--item">Relevamiento, ingenier&iacute;a, construcci&oacute;n y puesta en marcha de sitios de telefon&iacute;a m&oacute;vil llave en mano. Pruebas de llamada, initial tunning y preparaci&oacute;n de scripts
                <ul class="description-list-secondary">
                    <li class="description-list-secondary--item">Sistemas concentrados</li>
                    <li class="description-list-secondary--item">Sistemas distribuidos</li>
                    <li class="description-list-secondary--item">Sitios Macro</li>
                    <li class="description-list-secondary--item">Sitios Micro</li>
                    <li class="description-list-secondary--item">Soluciones indoor</li>
                </ul>
            </li>
            <li class="description-list-primary--item">Relevamiento, ingenier&iacute;a y construcci&oacute;n de obras civiles complementarias y de estructuras soporte de antenas</li>
            <li class="description-list-primary--item">Sistemas de puesta a tierra y balizamiento de estructuras</li>
            <li class="description-list-primary--item">Relevamiento, ingenier&iacute;a, instalaci&oacute;n, configuraci&oacute;n y puesta en marcha de radioenlaces:
                <ul class="description-list-secondary">
                    <li class="description-list-secondary--item">SDH / PDH</li>
                    <li class="description-list-secondary--item">Spread Spectrum licenciados.</li>
                    <li class="description-list-secondary--item">Redes Wifi</li>
                </ul>
            </li>
        </ul>
        <h3 class="text-description-title">Redes de planta interna - Instalaci&oacute;n de equipamiento en centrales.</h3>
        <ul class="description-list-primary">
            <li class="description-list-primary--item">Instalaci&oacute;n, configuraci&oacute;n y puesta en marcha de multiplexores en radiobases de telefon&iacute;a celular.</li>
            <li class="description-list-primary--item">Instalaci&oacute;n de cables-puente el&eacute;ctricos y &oacute;pticos en centrales de telefon&iacute;a, bastidores de tramas, portales de transmisi&oacute;n y de fibra &oacute;ptica.</li>
            <li class="description-list-primary--item">Instalaci&oacute;n y puesta en marcha de equipamiento en centrales telef&oacute;nicas. Comisionamiento.</li>
            <li class="description-list-primary--item">Instalaci&oacute;n de sistemas de puesta a tierra en centrales telef&oacute;nicas.</li>
            <li class="description-list-primary--item">Instalaci&oacute;n de NGN Indoor en centrales.</li>
        </ul>
    </div>
    <div class="grid--column">
        <h3 class="text-description-title">Redes de planta externa - Construcciones de redes fijas.</h3>
        <ul class="description-list-primary">
            <li class="description-list-primary--item">Obras de canalizaciones subterr&aacute;neas, urbanas e interurbanas para tendidos de cables de telecomunicaciones</li>
            <li class="description-list-primary--item">Ejecuci&oacute;n  de c&aacute;maras de acometida y derivaci&oacute;n</li>
            <li class="description-list-primary--item">Tendidos a&eacute;reos y subterr&aacute;neos de fibra &oacute;ptica y multipares para redes troncales y de &uacute;ltima milla para servicios de clientes propios y de terceros</li>
            <li class="description-list-primary--item">Suministro y puesta en marcha de Redes FTTH/GPON.</li>
            <li class="description-list-primary--item">Construcci&oacute;n civil, montaje, instalaci&oacute;n y puesta en marcha de Dslam  y NGN outdoor</li>
            <li class="description-list-primary--item">Fusiones de fibra &oacute;ptica en redes de grandes clientes</li>
        </ul>
        <h3 class="text-description-title">Construcciones especiales.</h3>
        <ul class="description-list-primary">
            <li class="description-list-primary--item">Instalaci&oacute;n de redes de videovigilancia para grandes clientes y nuevas tendencias en Smart Cities</li>
        </ul>
    </div>
</div>
