<h1 class="section-heading">
    Consultor&iacute;a, dise&ntilde;o e Ingenier&iacute;a de redes de telecomunicaciones para satisfacer un mercado cada vez m&aacute;s exigente.
</h1>
<p class="text-description">
    Contamos con una oficina de proyectos con un calificado grupo de profesionales y t&eacute;cnicos, dotados con
    herramientas inform&aacute;ticas potentes y una metodolog&iacute;a de trabajo que nos permiten garantizar un proceso
    de dise&ntilde;o confiable en todas sus etapas.
</p>
<div>
    <h3 class="text-description-title">Servicios</h3>
    <ul class="description-list-primary">
        <li class="description-list-primary--item">Relevamiento e Ingenier&iacute;a de redes de fibra &oacute;ptica urbana e interurbana, FTTx: EPON / GPON</li>
        <li class="description-list-primary--item">Relevamiento, estudio de prefactibilidad y confecci&oacute;n de preingenier&iacute;a de sitios de telefon&iacute;a m&oacute;vil y radioenlaces</li>
        <li class="description-list-primary--item">Inspecciones y sobrestancia de estructuras soportes de antenas en sitios de telefonía m&oacute;vil</li>
        <li class="description-list-primary--item">Servicios de medici&oacute;n de Radiaciones no Ionizantes en sitios de telefon&iacute;a m&oacute;vil y nodos de telecomunicaciones</li>
        <li class="description-list-primary--item">Ingenier&iacute;a de planta interna para la construcci&oacute;n de cables-puente el&eacute;ctricos y &oacute;pticos, bastidores de trama y portales de transmisi&oacute;n</li>
        <li class="description-list-primary--item">Ingenier&iacute;a de detalle de plantel exterior telef&oacute;nico</li>
        <li class="description-list-primary--item">Digitalizaci&oacute;n de planimetr&iacute;as georeferenciadas</li>
        <li class="description-list-primary--item">Gesti&oacute;n de autorizaci&oacute;n de permisos de obra en la v&iacute;a p&uacute;blica ante organismos p&uacute;blicos y privados, para la ejecuci&oacute;n de obras civiles propias y de terceros</li>
    </ul>
</div>
