<ul class="gallery">
    <li class="gallery--item">
        <a class="gallery--item-container" href="assets/img/galleries/services/maintenance/maintenance-01.jpg" data-lightbox="networking-gallery">
            <img class="gallery--item-image" src="assets/img/galleries/services/maintenance/thumbnails/maintenance-01.jpg" role="presentation" alt="">
        </a>
    </li>
    <li class="gallery--item">
        <a class="gallery--item-container" href="assets/img/galleries/services/maintenance/maintenance-02.jpg" data-lightbox="networking-gallery">
            <img class="gallery--item-image" src="assets/img/galleries/services/maintenance/thumbnails/maintenance-02.jpg" role="presentation" alt="">
        </a>
    </li>
    <li class="gallery--item">
        <a class="gallery--item-container" href="assets/img/galleries/services/maintenance/maintenance-03.jpg" data-lightbox="networking-gallery">
            <img class="gallery--item-image" src="assets/img/galleries/services/maintenance/thumbnails/maintenance-03.jpg" role="presentation" alt="">
        </a>
    </li>
    <li class="gallery--item">
        <a class="gallery--item-container" href="assets/img/galleries/services/maintenance/maintenance-04.jpg" data-lightbox="networking-gallery">
            <img class="gallery--item-image" src="assets/img/galleries/services/maintenance/thumbnails/maintenance-04.jpg" role="presentation" alt="">
        </a>
    </li>
</ul>
<h1 class="section-heading">
    La atenci&oacute;n personalizada de nuestros profesionales del &aacute;rea garantizan a nuestros clientes el restablecimiento del
    servicio con rapidez y eficacia.
</h1>
<p class="text-description">
    Nuestra mesa de ayuda est&aacute; altamente  capacitada para realizar un diagn&oacute;stico fiable y brindar la soluci&oacute;n m&aacute;s
    conveniente.
</p>
<div>
    <h3 class="text-description-title">Servicios</h3>
    <ul class="description-list-primary">
        <li class="description-list-primary--item">Mantenimiento de red propia y de terceros de FO</li>
        <li class="description-list-primary--item">Mantenimiento de m&aacute;stiles y de radioenlaces de microondas</li>
        <li class="description-list-primary--item">Obras complementarias el&eacute;ctricas y civiles</li>
        <li class="description-list-primary--item">Mantenimiento de telepuertos y estaciones satelitales SCPC, PAMA-DAMA, Vsat</li>
        <li class="description-list-primary--item">Mediciones de radiaciones no ionizantes</li>
    </ul>
</div>
