<ul class="gallery">
    <li class="gallery--item">
        <a class="gallery--item-container" href="assets/img/galleries/services/networking/networking-01.jpg" data-lightbox="networking-gallery">
            <img class="gallery--item-image" src="assets/img/galleries/services/networking/thumbnails/networking-01.jpg" role="presentation" alt="">
        </a>
    </li>
    <li class="gallery--item">
        <a class="gallery--item-container" href="assets/img/galleries/services/networking/networking-02.jpg" data-lightbox="networking-gallery">
            <img class="gallery--item-image" src="assets/img/galleries/services/networking/thumbnails/networking-02.jpg" role="presentation" alt="">
        </a>
    </li>
</ul>
<h1 class="section-heading">
    La m&aacute;s amplia gama de soluciones tecnol&oacute;gicas para resolver sus requerimientos de conectividad en redes.
</h1>
<p class="text-description">
    Contamos con nuestra propia red vinculada a los principales Carriers Nacionales e Internacionales. Brindamos servicios
    customizados con SLA que garantizan estabilidad y disponibilidad.
</p>
<p class="text-description">
    Nuestra Mesa de Ayuda provee asistencia t&eacute;cnica las 24 horas, los 365 d&iacute;as del a&ntilde;o.
</p>
<div class="grid">
    <div class="grid--column">
        <h3 class="text-description-title">Servicios de conectividad</h3>
        <ul class="description-list-primary">
            <li class="description-list-primary--item">IS Internet Services
                <ul class="description-list-secondary">
                    <li class="description-list-secondary--item">Accesos dedicados a trav&eacute;s de fibra &oacute;ptica y radioenlaces</li>
                    <li class="description-list-secondary--item">Banda Ancha</li>
                </ul>
            </li>
            <li class="description-list-primary--item">ES Ethernet Service
                <ul class="description-list-secondary">
                    <li class="description-list-secondary--item">Accesos dedicados a trav&eacute;s de FO</li>
                    <li class="description-list-secondary--item">Accesos dedicados inalámbricos</li>
                    <li class="description-list-secondary--item">Servicios de red FTTx</li>
                    <li class="description-list-secondary--item">Servicios de última milla</li>
                    <li class="description-list-secondary--item">Servicios de VLAN Urbana</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="grid--column">
        <h3 class="text-description-title">Servicios de data center</h3>
        <ul class="description-list-primary">
            <li class="description-list-primary--item">Housing</li>
            <li class="description-list-primary--item">Hosting</li>
        </ul>
        <h3 class="text-description-title">Servicios con valor agregado</h3>
        <ul class="description-list-primary">
            <li class="description-list-primary--item">Servicios de Cloud Computing (<a href="http://www.icsrosario.com.ar/" target="_blank" title="ICS Rosario">ICS</a>)</li>
            <li class="description-list-primary--item">Servicios de VoIP</li>
            <li class="description-list-primary--item">Accesos a las redes Link, Banelco y BCRA</li>
            <li class="description-list-primary--item">Servicios de Redes Privadas Virtuales (VPN)</li>
            <li class="description-list-primary--item">Soluciones de Networking</li>
        </ul>
    </div>
</div>
