<ul class="gallery">
    <li class="gallery--item">
        <a class="gallery--item-container" href="assets/img/galleries/about/about-us/about-us-01.jpg" data-lightbox="networking-gallery">
            <img class="gallery--item-image" src="assets/img/galleries/about/about-us/thumbnails/about-us-01.jpg" role="presentation" alt="">
        </a>
    </li>
    <li class="gallery--item">
        <a class="gallery--item-container" href="assets/img/galleries/about/about-us/about-us-02.jpg" data-lightbox="networking-gallery">
            <img class="gallery--item-image" src="assets/img/galleries/about/about-us/thumbnails/about-us-02.jpg" role="presentation" alt="">
        </a>
    </li>
    <li class="gallery--item">
        <a class="gallery--item-container" href="assets/img/galleries/about/about-us/about-us-03.jpg" data-lightbox="networking-gallery">
            <img class="gallery--item-image" src="assets/img/galleries/about/about-us/thumbnails/about-us-03.jpg" role="presentation" alt="">
        </a>
    </li>
    <li class="gallery--item">
        <a class="gallery--item-container" href="assets/img/galleries/about/about-us/about-us-04.jpg" data-lightbox="networking-gallery">
            <img class="gallery--item-image" src="assets/img/galleries/about/about-us/thumbnails/about-us-04.jpg" role="presentation" alt="">
        </a>
    </li>
</ul>
<p class="text-description">
    Transdatos es una empresa de capitales locales creada hace 25 a&ntilde;os con el objetivo de ofrecer servicios de
    telecomunicaciones de alta calidad para el mercado regional. D&iacute;a a d&iacute;a, nuestro equipo de profesionales trabaja
    para dise&ntilde;ar e implementar soluciones innovadoras y a la medida de nuestros clientes.
</p>
<p class="text-description">
    Nuestra estructura flexible y proactiva sumada a la red de alianzas estrat&eacute;gicas mantenida con los principales
    proveedores de tecnolog&iacute;a de la informaci&oacute;n, nos permite ofrecer una amplia gama de soluciones y nos prepara
    para responder eficientemente a los requerimientos tecnol&oacute;gicos m&aacute;s variados.
</p>
<p class="text-description">
    Desde nuestra red propia de telecomunicaciones, cubrimos las ciudades de Rosario, Santa Fe, Paran&aacute;, San Lorenzo 
    y Puerto General San Mart&iacute;n. Nuestros servicios de Ingenier&iacute;a, Instalaciones y Mantenimiento de redes proveen
    soluciones customizadas a clientes de diversas industrias, empresas estatales y profesionales de la zona.
</p>
<p class="text-description">
    Nuestro soporte t&eacute;cnico especializado ofrece asistencia durante las 24 horas, los 365 d&iacute;as del a&ntilde;o. Adem&aacute;s,
    contamos con una flota de veh&iacute;culos propios y equipamiento de medici&oacute;n de &uacute;ltima tecnolog&iacute;a, que garantizan el
    mantenimiento de la alta calidad y &oacute;ptima prestaci&oacute;n que nos caracterizan.
</p>
