<p class="text-description">
    Conscientes de la relevancia del rol que las empresas deben jugar con relaci&oacute;n al crecimiento sustentable de
    nuestra regi&oacute;n, ofrecemos pasant&iacute;as para j&oacute;venes profesionales, estudiantes secundarios t&eacute;cnicos y cursos abiertos
    a la comunidad en general, participando activamente en organizaciones intermedias de car&aacute;cter p&uacute;blico/privadas.
</p>
<p class="text-description">
    De esta manera, ejercitamos un rol social que excede el &aacute;mbito estrictamente empresarial, generando v&iacute;nculos y
    compromisos con el futuro de nuestra sociedad.
</p>
<p class="text-description text-description_no-spacing">
    Algunas de las entidades con las cuales colaboramos:
</p>
<div class="logo-list">
    <img class="logo-list--item" src="assets/img/logos/polo.png" />
    <img class="logo-list--item" src="assets/img/logos/cessi.png" />
    <img class="logo-list--item" src="assets/img/logos/lfcr.png" />
    <img class="logo-list--item" src="assets/img/logos/apyme.png" />
    <img class="logo-list--item" src="assets/img/logos/fund-ingen.png" />
    <img class="logo-list--item" src="assets/img/logos/unr.png" />
</div>
<p class="text-description text-description_no-spacing">
    Adem&aacute;s, implementamos internamente pr&aacute;cticas respetuosas del Medio Ambiente, como son:
</p>
<ul class="description-list-primary">
    <li class="description-list-primary--item">La separaci&oacute;n, clasificaci&oacute;n y traslado de residuos electr&oacute;nicos al centro de reciclado pertinente.</li>
    <li class="description-list-primary--item">La utilizaci&oacute;n de energ&iacute;as alternativas como reemplazo o complemento de energ&iacute;as convencionales.</li>
    <li class="description-list-primary--item">La adhesi&oacute;n al compromiso “100% Libre de Humo”.</li>
</ul>
<p class="text-description">
    Asimismo, realizamos mediciones de radiaciones no Ionizantes: medici&oacute;n de inmisi&oacute;n para an&aacute;lisis de prevenci&oacute;n
    de incidencia radiaci&oacute;n en los ambientes circundantes. Para ello, trabajamos conjuntamente con el Laboratorio
    de Extensi&oacute;n, Investigaci&oacute;n y Desarrollos El&eacute;ctricos (LEIDE) de la UNR para la implementaci&oacute;n de servicios de
    medici&oacute;n de potencia radiada, de acuerdo a lo establecido por la resoluci&oacute;n 3690/2004 de la Comisi&oacute;n Nacional de
    Comunicaciones.
</p>
