<p class="text-description">
    Iniciamos nuestras actividades en el a&ntilde;o 1993, a partir de la creaci&oacute;n de nuestra primera red de cables de cobre
    y radioenlaces digitales para acceso a sub-nodos, con el Nodo Central ubicado en el Palacio Minetti de la
    ciudad de Rosario.
</p>
<p class="text-description">
    En el a&ntilde;o 1997 inauguramos las &aacute;reas de Ingenier&iacute;a, Construcci&oacute;n y Mantenimiento de redes para terceros.
    Tambi&eacute;n creamos un nuevo Nodo en la ciudad de Santa Fe, permitiendo extender la oferta de servicios a localidades
    vecinas a nuestra ciudad.
</p>
<p class="text-description">
    En el a&ntilde;o 2000 con la adquisici&oacute;n del  ISP @Tower se incorporan servicios de Internet, ampliando el espectro de
    nuestra cartera comercial a clientes domiciliarios. En el mismo a&ntilde;o, inauguramos el Centro de Operaciones Laprida,
    que concentra las &aacute;reas de Ingenier&iacute;a, Construcci&oacute;n y Mantenimiento de redes.
</p>
<p class="text-description">
    A partir del a&ntilde;o 2002 y en funci&oacute;n de la evoluci&oacute;n de los servicios de telecomunicaciones a nivel mundial,
    impulsamos la incorporaci&oacute;n de nuevas tecnolog&iacute;as para la prestaci&oacute;n de servicios de Internet.
</p>
<p class="text-description">
    En el a&ntilde;o 2008 completamos el backbone de la red con un anillo de Fibra &oacute;ptica y avanzamos hacia la provisi&oacute;n
    de servicios FTTH.
</p>
<p class="text-description">
    En el a&ntilde;o 2010, comenzamos a realizar instalaciones de nodos de telefon&iacute;a m&oacute;vil, ampliando el abanico de
    soluciones llave en mano.
</p>
<p class="text-description text-description_primary">
    En el mismo a&ntilde;o, junto a KIT Ingenier&iacute;a se incorpora el servicio de <a class="text-description--link" href="http://www.icsrosario.com.ar/" target="_blank" >ICS o Cloud Hosting</a>,
    plataforma virtualizada con recursos de procesamiento, memoria, disco y ancho de banda, distribuidos en la
    nube que ofrece el alojamiento de informaci&oacute;n,  licencias de software y conexi&oacute;n de alta velocidad.
</p>
<p class="text-description">
    En el a&ntilde;o 2011, a partir del impulso dado por las empresas tecnol&oacute;gicas de la regi&oacute;n se crea el  Network Access
    Point (NAP) CABASE Rosario, alojado en nuestro nodo central del Palacio Minetti. El NAP constituye un centro de
    interconexi&oacute;n de tr&aacute;fico de datos para proveedores de Internet y servicios de telecomunicaciones, permitiendo la
    integraci&oacute;n de empresas y cooperativas de telecomunicaciones de nuestra regi&oacute;n. Asimismo, ampliamos la oferta para
    empresas de servicios de redes m&oacute;viles, suministrando soluciones de infraestructura y construcciones civiles.
</p>
<p class="text-description">
    En los &uacute;ltimos a&ntilde;os, nos ocupamos de consolidar nuestra presencia en el mercado con la provisi&oacute;n de servicios
    llave en mano para redes m&oacute;viles, el desarrollo de redes FTTx, Smart Cities y el dise&ntilde;o, integraci&oacute;n y optimizaci&oacute;n
    de redes de terceros.
</p>
<p class="text-description">
    Desde el 2015, como parte de nuestra planificaci&oacute;n estrat&eacute;gica orientada a ampliar la capacidad operativa interna
    y las vinculaciones con el medio empresarial local, inauguramos un nodo en la ZONA I, situado en la nueva sede del
    Polo Tecnol&oacute;gico de Rosario.
</p>
