<div class="modal--content">
    <div class="modal--content-left">
        <div class="modal--icon feature-tower--adsl-office_big">
        </div>
        <div class="modal--title">
            <span class="modal--title_small">Abono mensual</span><br>
            <span class="modal--title_big">$ 884</span><br>
            <span class="modal--title_small">+ IVA (21%)</span>
        </div>
    </div>

    <div class="modal--content-right">
        <div class="modal--title modal--title_medium">
            Internet ADSL@Office
        </div>
        <div class="modal--subtitle">
            CARACTER&Iacute;STICAS
        </div>
        <p class="modal--text">
            - Conexi&oacute;n de m&aacute;xima velocidad ADSL <br>
            - Ancho de banda disponibles 8 Mb de bajada y 1 Mb de subida <br>
            - Casilla de pop3 <br>
            - Dominio propio (sunombre@suempresa.com.ar) <br>
            - Servicio de Hosting incluido <br>
            - Sin l&iacute;mite mensual de downloads o uploads. Utiliz&aacute; el servicio el tiempo que desees. <br>
            - Sin uso de l&iacute;nea telef&oacute;nica ni cable de televisi&oacute;n
        </p>
        <p class="modal--text modal--text_notes">
            Atenci&oacute;n telef&oacute;nica permanente SIN CARGO <br>
            Suministro, instalaci&oacute;n y configuraci&oacute;n de Modem WiFi: $ 1131 + IVA (10.5%)
        </p>
        <p class="modal--text modal--text_notes-secondary">
            <a href="#" style="color: #ff0000;" ng-click="goToContactForm()">Cons&uacute;ltenos</a> por la disponibilidad del servicio en su zona
        </p>
    </div>

</div>
