<div class="modal--content">
    <div class="modal--content-left">
        <div class="modal--icon feature-tower--dedicated_big">
        </div>
    </div>

    <div class="modal--content-right">
        <div class="modal--title modal--title_medium">
            Accesos Dedicados / Semidedicados
        </div>
        <div class="modal--subtitle">
            CARACTER&Iacute;STICAS
        </div>
        <p class="modal--text">
            - Orientado a satisfacer los requerimientos de pymes, profesionales y grandes clientes<br>
            - Servicios de ALTA performance sobre red de fibra &oacute;ptica<br>
            - Acceso Nacional e Internacional sim&eacute;trico y a la medida de sus necesidades
        </p>
        <p class="modal--text modal--text_notes">
            Atenci&oacute;n telef&oacute;nica permanente SIN CARGO
        </p>
        <p class="modal--text modal--text_notes-secondary">
            <a href="#" style="color: #ff0000;" ng-click="goToContactForm()">Cons&uacute;ltenos</a> y solicite su cotizaci&oacute;n
        </p>
    </div>

</div>
