<div class="modal--content">
    <div class="modal--content-left">
        <div class="modal--icon feature-tower--hosting_big">
        </div>
    </div>

    <div class="modal--content-right">
        <div class="modal--title modal--title_medium">
            Hosting
        </div>
        <div class="modal--subtitle">
            CARACTER&Iacute;STICAS
        </div>
        <p class="modal--text">
            - Alojamiento de sitios web con la m&aacute;s alta disponibilidad y desde cualquier conexi&oacute;n de internet<br>
            - Sin gastos operativos o de mantenimiento de equipamiento
        </p>
    </div>

    <div class="modal--content-right">
        <div class="modal--title modal--title_medium">
            Housing
        </div>
        <div class="modal--subtitle">
            CARACTER&Iacute;STICAS
        </div>
        <p class="modal--text">
            - Alojamiento de servidores en nuestro nodo central<br>
            - Disponibilidad 100%  asegurada<br>
            - Conectividad dedicada a disposici&oacute;n de cada cliente
        </p>
        <p class="modal--text modal--text_notes">
            Atenci&oacute;n telef&oacute;nica permanente SIN CARGO
        </p>
        <p class="modal--text modal--text_notes-secondary">
            <a href="#" style="color: #ff0000;" ng-click="goToContactForm()">Cons&uacute;ltenos</a> y solicite su cotizaci&oacute;n
        </p>
    </div>

</div>
