<div class="modal--content">
    <div class="modal--content-left">
        <div class="modal--icon feature-tower--optic-fiber_big">
        </div>
    </div>

    <div class="modal--content-right">
        <div class="modal--title modal--title_medium">
            Internet por Fibra Optica
        </div>
        <div class="modal--subtitle">
            CARACTER&Iacute;STICAS
        </div>
        <p class="modal--text">
            - Orientado a satisfacer los requerimientos de pymes, profesionales y grandes clientes<br>
            - Servicios de ALTA performance sobre red de fibra &oacute;ptica<br>
            - Conexiones Sim&eacute;tricas y Asim&eacute;tricas a la medida de sus necesidades<br>
        </p>
        <p class="modal--text modal--text_notes">
            Soporte t&eacute;cnico profesional telef&oacute;nico sin cargo en nuestra sede del Palacio Minetti
        </p>
        <p class="modal--text modal--text_notes-secondary">
            <a href="#" style="color: #ff0000;" ng-click="goToContactForm()">Cons&uacute;ltenos</a> y solicite su cotizaci&oacute;n
        </p>
    </div>

</div>
