<p>
  <strong>Tower</strong> te permite pagar on line 7x24 con un sólo CLICK!
</p>
<p>
  Pagá tu abono mensual y consultá tu deuda desde la comodidad de tu hogar o desde cualquier lugar donde te encuentres.
</p>
<p>
  <strong>CLICK de PAGO</strong> te permite pagar con Tarjetas de Crédito o Débito de cualquier banco y de
casi todas las marcas o a través de DEBIN, débito automático online directo sobre tu cuenta
bancaria.
</p>
<p style="line-height: 35px; margin-left: 35px;">
  <strong>1.</strong> Hacé CLIK en el link Aquí debajo<br />
  <strong>2.</strong> Cargá el concepto a abonar<br />
  <strong>3.</strong> Seleccioná y cargá el medio de pago<br />
  <strong>4.</strong> Confirmá el pago<br />
  <strong>5.</strong> Y listo! Recibirás un e-mail con tu comprobante<br />
</p>
<p style="text-align: center; margin-top: 20px;">
  <a class="button-tower-primary button-pay-tower" href="#" onclick="openPaymentLink()">
    CLICK PARA PAGAR!
  </a>
</p>