<div class="modal--content">
    <div class="modal--content-left">
        <div class="modal--icon feature-tower--wireless_big">
        </div>
    </div>

    <div class="modal--content-right">
        <div class="modal--title modal--title_medium">
            Internet Inalámbrico
        </div>
        <div class="modal--subtitle">
            CARACTER&Iacute;STICAS
        </div>
        <p class="modal--text">
            - Servicios de alta velocidad y performance<br>
            - Servicio sim&eacute;trico y a la medida de sus necesidades<br>
            - Orientado a satisfacer los requerimientos de pymes, profesionales y grandes cliente<br>
            - Disponible en las ciudades de Rosario, San Lorenzo, Puerto San Mart&iacute;n y Timb&uacute;es
        </p>
        <p class="modal--text modal--text_notes">
            Atenci&oacute;n telef&oacute;nica permanente SIN CARGO
        </p>
        <p class="modal--text modal--text_notes-secondary">
            <a href="#" style="color: #ff0000;" ng-click="goToContactForm()">Cons&uacute;ltenos</a> y solicite su cotizaci&oacute;n
        </p>
    </div>

</div>
