<p class="text-description">
    <strong>La m&aacute;s amplia gama de servicios de telecomunicaciones para industrias y empresas de servicios.</strong>
</p>

<div class="grid">
    <div class="grid--column">
        <ul class="description-list-primary">
            <li class="description-list-primary--item">Provisi&oacute;n e instalaci&oacute;n y mantenimiento de redes de fibra &oacute;ptica, m&aacute;stiles y estructuras de diversas tipolog&iacute;as para radioenlaces y enlaces satelitales</li>
            <li class="description-list-primary--item">Obras civiles de infraestructura asociada a redes</li>
            <li class="description-list-primary--item">Cableado estructurado</li>
        </ul>
    </div>
    <div class="grid--column">
        <ul class="description-list-primary">
            <li class="description-list-primary--item">Telefon&iacute;a IP</li>
            <li class="description-list-primary--item">Sistemas de video-vigilancia</li>
            <li class="description-list-primary--item">oluciones de acceso a redes e Internet</li>
        </ul>
    </div>
</div>
<!--TODO: Check if showcase should be a custom directive and items should be consumed from each page's $scope.-->
<!--TODO: Refactor and take title out (put content-showcase's style into another container).-->
<div class="content-showcase content-showcase_tertiary">
    <h3 class="content-showcase--title">Nuestros clientes</h3>
    <div class="logo-list">
        <!--TODO: Add alt attribute with names to all images.-->
        <img class="logo-list--item" src="assets/img/logos/banco-municipal.png" />
        <img class="logo-list--item" src="assets/img/logos/la-segunda.png" />
        <img class="logo-list--item" src="assets/img/logos/previnca-salud.png" />
        <img class="logo-list--item" src="assets/img/logos/banco-coinag.png" />
        <img class="logo-list--item" src="assets/img/logos/asp.png" />
        <img class="logo-list--item" src="assets/img/logos/cargill.png" />
        <img class="logo-list--item" src="assets/img/logos/renova.png" />
        <img class="logo-list--item" src="assets/img/logos/bunge.png" />
        <img class="logo-list--item" src="assets/img/logos/ypf.png" />
        <img class="logo-list--item" src="assets/img/logos/la-gallega.png" />
        <img class="logo-list--item" src="assets/img/logos/randstad.png" />
        <img class="logo-list--item" src="assets/img/logos/aaj-technologies.png" />
        <img class="logo-list--item" src="assets/img/logos/cablevision.png" />
        <img class="logo-list--item" src="assets/img/logos/la-capital.png" />
        <img class="logo-list--item" src="assets/img/logos/cablehogar.png" />
        <img class="logo-list--item" src="assets/img/logos/el-ciudadano.png" />
        <img class="logo-list--item" src="assets/img/logos/television-del-litoral.png" />
        <img class="logo-list--item" src="assets/img/logos/municipalidad-de-rosario.png" />
        <img class="logo-list--item" src="assets/img/logos/pami.png" />
        <img class="logo-list--item" src="assets/img/logos/poder-judicial-santa-fe.png" />
        <img class="logo-list--item" src="assets/img/logos/bcr.png" />
        <img class="logo-list--item" src="assets/img/logos/transatlantica.png" />
        <img class="logo-list--item" src="assets/img/logos/ola.png" />
        <img class="logo-list--item" src="assets/img/logos/daminato.png" />
        <img class="logo-list--item" src="assets/img/logos/rosario-bus.png" />
        <img class="logo-list--item" src="assets/img/logos/nca.png" />
        <img class="logo-list--item" src="assets/img/logos/cibic.png" />
        <img class="logo-list--item" src="assets/img/logos/ibc.png" />
        <img class="logo-list--item" src="assets/img/logos/grupo-orono.png" />
        <img class="logo-list--item" src="assets/img/logos/sanatorio-parque.png" />
        <img class="logo-list--item" src="assets/img/logos/sanatorio-delta.png" />
        <img class="logo-list--item" src="assets/img/logos/icr.png" />
        <img class="logo-list--item" src="assets/img/logos/conicet.png" />
        <img class="logo-list--item" src="assets/img/logos/amr.png" />
        <img class="logo-list--item" src="assets/img/logos/federada-salud.png" />
        <img class="logo-list--item" src="assets/img/logos/medicina-esencial.png" />
        <img class="logo-list--item" src="assets/img/logos/innovared.png" />
        <img class="logo-list--item" src="assets/img/logos/ineco.png" />
        <img class="logo-list--item" src="assets/img/logos/cooperativa-telefonica-vgg.png" />
        <img class="logo-list--item" src="assets/img/logos/evonik.png" />
        <img class="logo-list--item" src="assets/img/logos/aca.png" />
        <img class="logo-list--item" src="assets/img/logos/rogiro-aceros.png" />
        <img class="logo-list--item" src="assets/img/logos/nibbler.png" />
        <img class="logo-list--item" src="assets/img/logos/technology-bureau.png" />
        <img class="logo-list--item" src="assets/img/logos/boldt.png" />
        <img class="logo-list--item" src="assets/img/logos/bgh.png" />
        <img class="logo-list--item" src="assets/img/logos/nokia.png" />
        <img class="logo-list--item" src="assets/img/logos/alcatel.png" />
        <img class="logo-list--item" src="assets/img/logos/milicic.png" />
        <img class="logo-list--item" src="assets/img/logos/edeca.png" />
        <img class="logo-list--item" src="assets/img/logos/surgas.png" />
    </div>
</div>
