<p class="text-description">
    <strong>Ofrecemos servicios de conectividad a medida de las necesidades de estudios profesionales y pymes de los diversos rubros.</strong>
</p>
<!--TODO: Check if showcase should be a custom directive and items should be consumed from each page's $scope.-->
<!--TODO: Refactor and take title out (put content-showcase's style into another container).-->
<div class="content-showcase content-showcase_tertiary">
    <h3 class="content-showcase--title">Nuestros clientes</h3>
    <div class="content-showcase--items">
        <div class="logo-list">
            <!--TODO: Add alt attribute with names to all images.-->
            <img class="logo-list--item" src="assets/img/logos/accesaniga.png" />
            <img class="logo-list--item" src="assets/img/logos/coa.png" />
            <img class="logo-list--item" src="assets/img/logos/neuralsoft.png" />
            <img class="logo-list--item" src="assets/img/logos/riol.png" />
            <img class="logo-list--item" src="assets/img/logos/tienda.png" />
            <img class="logo-list--item" src="assets/img/logos/grimaldi-grassi.png" />
            <img class="logo-list--item" src="assets/img/logos/blc.png" />
            <img class="logo-list--item" src="assets/img/logos/colinet-trotta.png" />
            <a href="http://equality.coop/" target="_blank"><img class="logo-list--item" src="assets/img/logos/equality.png" /></a>
            <img class="logo-list--item" src="assets/img/logos/ortiz-fischer.png" />
            <img class="logo-list--item" src="assets/img/logos/rosetti.png" />
            <img class="logo-list--item" src="assets/img/logos/europtica.png" />
            <img class="logo-list--item" src="assets/img/logos/bajo-cero.png" />
            <img class="logo-list--item" src="assets/img/logos/gerlero.png" />
            <img class="logo-list--item" src="assets/img/logos/soy-lola.png" />
            <img class="logo-list--item" src="assets/img/logos/projects-consulting.png" />
            <img class="logo-list--item" src="assets/img/logos/holistor.png" />
        </div>
    </div>
</div>
