<p class="text-description">
    <strong>Proveemos servicios llave en mano y de &uacute;ltima milla para los principales carriers de telecomunicaciones.</strong>
</p>
<div class="grid">
    <div class="grid--column">
        <ul class="description-list-primary">
            <li class="description-list-primary--item">Soluciones llave en mano</li>
            <li class="description-list-primary--item">B&uacute;squeda de sitios para nodos de telefon&iacute;a m&oacute;vil</li>
            <li class="description-list-primary--item">Ejecuci&oacute;n de preingenier&iacute;a y factibilidad. Gestiones municipales y ante organismos oficiales</li>
            <li class="description-list-primary--item">Ingenier&iacute;a y construcci&oacute;n de obras complementarias y obras de infraestructura</li>
            <li class="description-list-primary--item">Ingenier&iacute;a y c&aacute;lculos de estructura, certificados por los Colegios de Ingenieros de las provincias de Santa Fe y de Entre R&iacute;os.</li>
            <li class="description-list-primary--item">Provisi&oacute;n e instalaci&oacute;n de estructuras tipo pedestal en terrazas.</li>
        </ul>
    </div>
    <div class="grid--column">
        <ul class="description-list-primary">
            <li class="description-list-primary--item">Servicios de &uacute;ltima milla</li>
            <li class="description-list-primary--item">Obras de infraestructura para tendido a&eacute;reo y subterr&aacute;neo.</li>
            <li class="description-list-primary--item">Ejecuci&oacute;n de empalmes de FO por fusi&oacute;n y mediciones con OTDR para determinar la atenuaci&oacute;n de los enlaces.</li>
            <li class="description-list-primary--item">Instalaci&oacute;n y puesta en marcha de radioenlaces digitales en bandas licenciadas y no licenciadas. Integraci&oacute;n a las redes existentes.</li>
            <li class="description-list-primary--item">Ingenier&iacute;a, instalaci&oacute;n, comisionamiento e integraci&oacute;n de radio bases.</li>
            <li class="description-list-primary--item">Swaps y modernizaciones 2G, 3G y LTE.</li>
            <li class="description-list-primary--item">Servicio de coubicaci&oacute;n en nuestro nodo central.</li>
        </ul>
    </div>
</div>

<!--TODO: Check if showcase should be a custom directive and items should be consumed from each page's $scope.-->
<!--TODO: Refactor and take title out (put content-showcase's style into another container).-->
<div class="content-showcase content-showcase_tertiary">
    <h3 class="content-showcase--title">Nuestros clientes</h3>
    <div class="content-showcase--items">
        <div class="logo-list">
            <!--TODO: Add alt attribute with names to all images.-->
            <img class="logo-list--item" src="assets/img/logos/bt.png" />
            <img class="logo-list--item" src="assets/img/logos/level-3.png" />
            <img class="logo-list--item" src="assets/img/logos/metrotel.png" />
            <img class="logo-list--item" src="assets/img/logos/ifx-networks.png" />
            <img class="logo-list--item" src="assets/img/logos/gigared.png" />
            <img class="logo-list--item" src="assets/img/logos/silica.png" />
            <img class="logo-list--item" src="assets/img/logos/claro.png" />
            <img class="logo-list--item" src="assets/img/logos/telecom.png" />
            <img class="logo-list--item" src="assets/img/logos/personal.png" />
            <img class="logo-list--item" src="assets/img/logos/telefonica.png" />
            <img class="logo-list--item" src="assets/img/logos/iplan.png" />
            <img class="logo-list--item" src="assets/img/logos/internexa.png" />
        </div>
    </div>
</div>
